#pets{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;

}
.card{
      border: 2px solid black;
      margin: 10%;
      width: 40%;
      border-radius: 10px;
}

.card img {
    width: 90%;
    height: 50%;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 10px;
}

.card p,h3{
    margin-left: 10px;
    
}

@media (max-width: 50%){
    #pets{
        flex-wrap: wrap;
    }
}