*{
    font-family:  Verdana, sans-serif;
    font-size: 15px;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:white;
    border: 0px solid;
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 15px;
    box-shadow: 2px;
    
      
}

.navbar div{
    margin-right: 30px;
}

.navbar a{
      
    letter-spacing: 4px;
    margin: 0 1.2em;
    text-decoration: none;
    color: black;

}
.tag{
     color: black;

}


.content{
    position: relative;
    /* text-align: center; */
}

.content-tag{
         
    position: absolute;
    top: 50%;
    left: 40%;
      
}

.content-tag span b{
    background-color:black;
    opacity: 0.75;
    padding: 15px;
    font-size: 30px;
    letter-spacing: 2px;
}

.content-tag span{
    font-weight: 100;
    font-size: 30px;
    font-family: Verdana, sans-serif;
     letter-spacing: 4px;
     color: white;

}


#project-title {
    padding: 3%;
    
}
#project-title p{
    font-size: 20px;
    margin: 30px;
}
#project-title hr{
     
       opacity: 0.15;

}



.projects{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
    justify-content: space-evenly;
 
}

.project img{
    width: 100%;
}
.project {
     width: 24%; 
     position: relative;
     
 }

.project p {
    position: absolute;
    top: 0;
    background-color: black;
    color: aliceblue;
    padding: 0.75em 1em;
    margin-top: 0%;
} 



.about-title{
     padding: 50px;
    
}

.about-title h3{
    font-size: 25px;
    font-weight: 100;
}



.about{
    display: flex;
    justify-content: space-between;
}

.person{
    width: 24%;

}

.person img{

    width: 100%;
}


.person-detail button{
      
      padding: 0.5em 9.5em;
      border: 0px;

}

.contact-section{
     padding: 32px 16px;
}

h3{
    padding: 16px 0;
    margin: 10px 0;
    font-size: 24px;
    font-family: 'Segoe UI', Arial,sans-serif;
}
p{
    margin: 15px , 0;
    font-size: 15px;
    font-family: Verdana,sans-serif;
}



.inp{
    padding: 8px;
    margin: 16px 0px;
    width: 100%;
}

.btn{

     margin: 16px 0px;
     padding: 8px 16px;
     font: 15px;
     color: #fff;
     background: #000;
}
footer{
     background-color: #000;
      padding: 16px 0px;
      text-align: center;
      color: #fff;
}
